
.no_item{
	border: 1px solid #323232;
	width:19px;
	height:19px;
	background-color:#646464;
}
.rank_border{
	text-align: center;
	border: 1px solid #d2d2d2;
	width:300px;
	height:120px;
	display: flex;
	padding:15px;
	margin: 10px;
}
.itemlist{
	display: flex;
	width:200px;
}
.item{
	margin: 2px;
	width: 20px;
	height: 20px;
}
.pa{
display: flex;
}
.tierinfo{
width:170px;
}
.matchlist{
width:1000px;
}
.participantlist{
flex:4;
}
.mostchamp-container{
	display: flex;
	justify-content: space-around;
	padding: 5px;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px solid #d2d2d2;
}
.head{
	display: flex;
	justify-content: space-around;
}
.match{
	margin: 10px;
	text-align: center;
}
.renewbotton{
	border: none;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.specificMatch{
	display : none; 
	margin-left:10px;
	margin-right:10px;
}
.mostbutton{
	border: none;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.matchbutton{
	border: none;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}