<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>챔피언 분석 - LolSearcher</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/css/style_summoner.css" type="text/css"> 
		<script type="text/javascript" src="./javascript/champion.js"></script>
	</head>
	<body>
		<h1 class="head">
			<a href="/">LOL Searcher</a>
		</h1>
		<div class="subTitle">
			<div>
				<form name="champions" action ="/champions"  method="POST">
					<button type="submit">챔피언 분석</button>
				</form>
			</div>
			<div>
				<form name="summoner" action ="/summoner" method="POST">
					<input type="text" name="name" placeholder="소환사 이름 검색 입력">
					<button type="submit">검색</button>
				</form>
			</div>
		</div>
		<div class="same_row">
			<div class="allchamp">
			</div>
			<div>
				<div>
					<button class = "mostbutton" type="submit" onclick= "sendPositionPost('TOP')">탑</button>
					<button class = "mostbutton" type="submit" onclick= "sendPositionPost('JUNGLE')">정글</button>
					<button class = "mostbutton" type="submit" onclick= "sendPositionPost('MIDDLE')">미드</button>
					<button class = "mostbutton" type="submit" onclick= "sendPositionPost('BOTTOM')">바텀</button>
					<button class = "mostbutton" type="submit" onclick= "sendPositionPost('UTILITY')">서포터</button>
				</div>
				<div>
					<div th:each="champion : ${champions}">
						<div th:text="${champion.championId}"></div>
						<div th:text="${champion.wins}"></div>
						<div th:text="${champion.losses}"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		let k = document.querySelector(".allchamp");
	
		fetch("json/champion.json")
		  .then(response => response.json())
		  .then(json => {
			  
			  var champList = json.data;
			  
			  for (let i in champList){
				  var x = document.createElement("IMG");
		
		    	  x.setAttribute("src", "/champion/"+ champList[i].id + ".png");
		    	  x.setAttribute("width", "50");
		    	  x.setAttribute("height", "50");
		    	  
		    	  const newText = document.createTextNode(champList[i].name);
		    	  
		    	  var div = document.createElement("div");
		    	  div.appendChild(newText);
		    	  div.style.overflow = "hidden";
		    	  div.style.textOverflow = "ellipsis";
		    	  div.style.whiteSpace = "nowrap";
		    	  
		    	  var aTag = document.createElement("a");
		    	  aTag.href = "javascript:sendChampPost('" + champList[i].id + "');";
		    	  aTag.prepend(x);
		    	  aTag.appendChild(div);
		    	  aTag.style.width = "50px";
		    	  aTag.style.height = "80px";
		    	  aTag.style.marginLeft = "5px";
		    	  aTag.style.marginBottom = "5px";
		    	  k.appendChild(aTag);
				  
			  }
			  });
	</script>
</html>
