<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.orgm">
	<head>
		<title th:text="${summoner.name}+ ' - 인게임 정보'"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/css/style_summoner.css" type="text/css"> 
	</head>
	<body>
		<h1 class="head">
			<a href="/">LOL Searcher</a>
		</h1>
		<div class="same_row">
			<div>
				<form name="champions" action ="/champions"  method="POST">
					<button type="submit">챔피언 분석</button>
				</form>
			</div>
			<div>
				<form name="summoner" action ="/summoner" method="POST">
					<input type="text" name="name" placeholder="소환사 이름 검색 입력">
					<button type="submit">검색</button>
				</form>
			</div>
		</div>
		<div class="same_row">
			<img style="padding: 10px 10px;" th:src="'/profileicon/'+${summoner.profileIconId}+'.png'" height="90" width="80"/>
			<div style="padding: 6px 12px;">
				<div style="font-size:x-large;" th:text="${summoner.name}"></div>
				<div style="font-size:large;" th:text="'Level : '+ ${summoner.summonerLevel}"></div>
			</div>
		</div>
		<div>
			<form name="SummonerId" action ="/summoner"  method="POST">
				<input type="hidden" name="name" th:value="${summoner.name}">
				<button class = "renewbotton" type="submit">전적 보기</button>
			</form>
		</div>
		<div th:text="${summoner.name} + '는 현재 게임 중이 아닙니다.'">
	</body>
</html>