<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${summoner.name}+ ' - 인게임 정보'"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/css/style_summoner.css" type="text/css">
		<script type="text/javascript" src="./javascript/ingame.js"></script>
	</head>
	<body>
		<h1 class="head">
			<a href="/">LOL Searcher</a>
		</h1>
		<div class="subTitle">
			<div>
				<form name="champions" action ="/champions"  method="POST">
					<button type="submit">챔피언 분석</button>
				</form>
			</div>
			<div>
				<form name="summoner" action ="/summoner" method="POST">
					<input type="text" name="name" placeholder="소환사 이름 검색 입력">
					<button type="submit">검색</button>
				</form>
			</div>
		</div>
		<div class="same_row">
			<img style="padding: 10px 10px;" th:src="'/profileicon/'+${summoner.profileIconId}+'.png'" height="90" width="80"/>
			<div style="padding: 6px 12px;">
				<div style="font-size:x-large;" th:text="${summoner.name}"></div>
				<div style="font-size:large;" th:text="'Level : '+ ${summoner.summonerLevel}"></div>
			</div>
		</div>
		<div>
			<div>
				<form name="SummonerId" action ="/summoner"  method="POST">
					<input type="hidden" name="name" th:value="${summoner.name}">
					<button class = "renewbotton" type="submit">전적 보기</button>
				</form>
			</div>
			<div class="same_row">
				<div th:text="${ingame.gameId}"/>
				<div th:text="${ingame.gameType}"/>
				<div id="duringTime"></div>
				<script th:inline="javascript">
					/*<![CDATA[*/
						startTimeStamp = "[[${ingame.gameStartTime}]]";
					/*]]>*/
					
					setTimeout(timeFormat(startTimeStamp), 1000);
				</script>
				
				<div th:text="${ingame.gameMode}"/>
				
				<div th:if="${ingame.gameQueueConfigId} == '420'">솔로 랭크</div>
				<div th:if="${ingame.gameQueueConfigId} == '430'">일반</div>
				<div th:if="${ingame.gameQueueConfigId} == '440'">자유 5:5 랭크</div>
				<div th:if="${ingame.gameQueueConfigId} == '450'">무작위 총력전</div>
				<div th:if="${ingame.gameQueueConfigId} == '1400'">궁극기 모드</div>
			</div>
			<div class="team1"></div>
			<div class="team2"></div>
			<div class="curParticipant_row" th:each="participant2,index : ${ingame.participants}">
				<script th:inline="javascript">
				    /*<![CDATA[*/
				    
				    var champId = "[[${participant2.championId}]]";
					var num = "[[${index.index}]]";
					var spell1 = "[[${participant2.spell1Id}]]";
					var spell2 = "[[${participant2.spell2Id}]]";
				    /*]]>*/
				    
				    findChampName(champId, num);
					findspellName(spell1, num);
					findspellName(spell2, num);
				</script>
				<div class="spell_column"></div>
				<div th:text="${participant2.summonerName}"></div>
			</div>
			<script>allocateTeam();</script>
		</div>
	</body>
</html>