<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/style_summoner.css" type="text/css">
	<title th:text="'LOL Searcher Join Success'+ ${name}">LOL Searcher Join Success OO</title>
</head>
<body>
	<h1 class="head">
		<a href="/">LOL Searcher</a>
	</h1>
	<h2>해당 메일로 가입된 아이디가 이미 존재합니다.</h2>
	<h2>기존 계정으로 로그인 해주세요.</h2>
	<a href="/loginForm">로그인 페이지으로 돌아가기</a><br>
	<a href="/loginForm">아이디 찾기</a><br>
	<a href="/loginForm">비밀번호 찾기</a>
</body>
</html>