<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/style_summoner.css" type="text/css">
	<title>LOL Searcher JOIN PAGE</title>
</head>
<body>
	<h1 class="head">
		<a href="/">LOL Searcher</a>
	</h1>
	<h2>회원 가입 페이지</h2>
	
	<form action="/findId" method="POST">
		<input type="text" name="userid" placeholder="유저 ID" th:value="${userid}"/><button>아이디 확인</button>
	</form>
	<div>
		<div th:if="${joinPossible}==0">가입 가능한 아이디입니다.</div>
		<div th:if="${joinPossible}==1">이미 존재하는 아이디입니다.</div>
		<div th:if="${joinPossible}==2">특수 문자 및 공백은 사용할 수 없습니다.</div>
	</div>
	<form action="/join" method="POST">
		<input type="hidden" name="username" th:value="${userid}"/>
		<input type="password" name="password" placeholder="유저 비밀번호" required="true"/></br>
		<input type="email" name="email" placeholder="e-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" size="30" required="true">
		<button th:if="${joinPossible}==0">회원 가입</button>
	</form>
</body>
</html>