<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/style_summoner.css" type="text/css">
	<title>LOL Searcher LOGIN PAGE</title>
</head>
<body>
	<h1 class="head">
		<a href="/">LOL Searcher</a>
	</h1>
	<h2>LOL Searcher LOGIN</h2>
	<form action="/login" method="POST">
		<input type="text" name="username" placeholder="유저 ID"/></br>
		<input type="password" name="password" placeholder="유저 비밀번호"/></br>
		<button>로그인</button>
	</form>
	<div th:text="${loginFailMessage}"></div>
	<a href="/oauth2/authorization/google">구글 로그인</a>
	<form action="/joinForm" method="GET">
		<button>회원 가입</button>
	</form>
</body>
</html>