<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/style_summoner.css" type="text/css">
	<title>LOL Searcher JOIN PAGE</title>
</head>
<body>
	<h1 class="head">
		<a href="/">LOL Searcher</a>
	</h1>
	<h2>본인 인증 페이지</h2>
	<div>회원가입 시 입력한 e-mail로 임의 코드를 보내드렸습니다.</div><br>
	<div>아래 입력 창을 통해 본인 인증을 완료하시면 회원 가입이 됩니다.</div>
	<form action="/selfCertification" method="POST">
		<input type="text" name="number" placeholder="임의 코드" /><button>입력</button>
		<h3 th:text="${failMessage}"/>
		<input type="hidden" name="email" th:value="${email}"/>
	</form>
</body>
</html>